<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
          				http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="logAspect" class="com.it355.aspect.InterceptorLog" />
	<bean id="logPointcutAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="logAspect" />
		<property name="mappedName">
			<value>*</value>
		</property>
	</bean>
	<bean id="testServiceProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames" value="sobaDao" />
		<property name="interceptorNames">
			<list>
				<value>logPointcutAdvisor</value>
			</list>
		</property>
	</bean>
</beans>
